{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="alternate" type="application/atom+xml" href="{{ base_url_absolute}}/feed:atom" title="Atom Feed" />
    <link rel="alternate" type="application/rss+xml" href="{{ base_url_absolute}}/feed:rss" title="RSS Feed" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}">

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/nucleus.css',102) %}
        {% do assets.addCss('theme://css-compiled/theme.css',101) %}
        {% do assets.addCss('theme://css/custom.css',100) %}
        {% do assets.addCss('theme://css/font-awesome.min.css',100) %}
        {% do assets.addCss('theme://css/featherlight.min.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}

        {{ assets.css() }}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('jquery',101) %}
        {% do assets.addJs('theme://js/modernizr.custom.71422.js',100) %}
        {% do assets.addJs('theme://js/featherlight.min.js') %}
        {% do assets.addJs('theme://js/learn.js') %}
        {{ assets.js() }}
    {% endblock %}

    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-1111124-2', 'auto');
      ga('send', 'pageview');
    
    </script>
</head>
<body class="{{ page.header.body_classes }}" data-url="{{ page.route }}">
    <header id="header" class="clearfix">
    	
    		<div class="col">
    			<a href="http://www.joomlabamboo.com"><img class="logo float-left" style="width:45px" src="http://docs.joomlabamboo.com/images/jblogo.png"></a>
    			<nav id="naviTop">
    				<ul>
    					<li><a href="http://www.joomlabamboo.com/joomla-templates">Templates</a></li>
        				<li><a href="http://www.joomlabamboo.com/recent-topics/view-last-messages">Forum</a></li>
        				<li><a href="http://www.joomlabamboo.com/index.php?option=com_rsticketspro&amp;view=submit&amp;Itemid=42">Tickets</a></li>
        				<li><a href="http://www.joomlabamboo.com/downloads/template-downloads">Downloads</a></li>
        				<li><a href="http://www.joomlabamboo.com/blog">Blog</a></li>	
        				<li style="float: right;" ><a href="https://github.com/locii/Zen-Grid-Framework-v4-Docs"><span style="margin-right: 10px;" class="fa fa-github"></span>Download Documentation</a></li>
        			</ul>
    			</nav>
    		</div>
    	
    </header>
    <div id="title">       
    	
       	  <div class="row">
          	<div class="col title">
          		<h2 class="bold"><a href="http://docs.joomlabamboo.com/">Zen Grid Framework v4 Documentation</a></h2>
          		
          		<div class="searchbox">
          		    <label for="search-by"><i class="fa fa-search"></i></label>
          		    <input id="search-by" type="text" placeholder="Search Documentation" data-search-input="{{ base_url_relative }}/search.json/query" />
          		    <span data-search-clear><i class="fa fa-close"></i></span>
          		</div>
          	</div>
       
       </div>
    </div>
    {% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    {% block sidebar %}
   
    <nav id="sidebar">
        
        <div class="padding highlightable">
        {% include 'partials/sidebar.html.twig' %}
        </div>
    </nav>
    {% endblock %}

    {% block body %}
    <section id="body">
        <div id="overlay"></div>

        <div class="padding highlightable">
            <a href="#" id="sidebar-toggle" data-sidebar-toggle><i class="fa fa-2x fa-bars"></i></a>

            

            {% block content %}{% endblock %}

            {% block footer %}
                {% if theme_config.github.position == 'bottom' %}
                {% include 'partials/github_note.html.twig' %}
                {% endif %}
            {% endblock %}

        </div>
        {% block navigation %}{% endblock %}
    </section>
    {% endblock %}
    {% block analytics %}{% include 'partials/analytics.html.twig' %}{% endblock %}
 </body>
</html>
